<!-- templates/view_trips.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'KrillApp/view_trips.css' %}">

<h3>View Trips</h3>
<br />
    <div id ="view_trips_buttons">
        <a id="upload_btn" class="btn btn-primary" href = "{% url 'upload_image_to_trip' %}">Upload New Image </a>
        <a id="upload_btn" class="btn btn-primary" href = "{% url 'upload_image_to_trip' %}">Delete Trip </a>
    </div>
<br />


<ul id="trip_list" class="list-group">
    {% for i in trip_list %}
    <li class="list-group-item list-group-item-action">{{ i }}</li>
    {% endfor %}
</ul>

<h4 id="Trip_Name"></h4>

<ul id="trip_image_list" class="list-group">
        {% for i in trip_image_list %}
        <li class="list-group-item list-group-item-action">{{ i }}</li>
        {% endfor %}
    
    
    
    </ul>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
        $("ul[id*=trip_list] li").click(function () {
            DJANGO_STATIC_URL = '{{MEDIA_URL}}';
            var trip_name = $(this).text(); // gets text contents of clicked li
            document.getElementById("Trip_Name").innerHTML = trip_name;
            $.ajax({type: "POST",
            url: "{% url 'get_trip_image_list' %}",
            data: {trip_to_get: trip_name,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success:function(result){

                // Clearing list
                document.getElementById("trip_image_list").innerHTML = "";

                // Retrieving the list from the django result.
                var list = document.getElementById("trip_image_list");

                // Converting list to array
                image_list = Array.from(result.trip_image_list);

                for (var i = 0; i < image_list.length; i++) {

                // Create the list item and give it a class (bootstrap styling)
                var item = document.createElement('li');
                item.className = "list-group-item list-group-item-action";

                // Set its contents:
                item.appendChild(document.createTextNode(image_list[i]));
                // Add it to the list:
                list.appendChild(item);
            }

            }})
    
        });

        $("ul[id*=trip_image_list] li").live('click',function () {
            console.log("yup");
            DJANGO_STATIC_URL = '{{MEDIA_URL}}';
            var image_url = $(this).text(); // gets text contents of clicked li

            $.ajax({
              type: "POST",
              url: "{% url 'view_trip_image' %}",
              data: {image_url: DJANGO_STATIC_URL + image_url,
                'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success:function(result){
                    document.write(result);

                }
          })

        });
    
    </script>




{% endblock %}