h3{
    margin: 0 auto;
    text-align: center;
}
h4{
    margin: 0 auto;
    text-align: center;
}

#view_trips_buttons{
    
    display: static;
    margin: 0 auto;
    text-align: center;
    color:white;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 0.5%;
    text-decoration: none !important;

}
