h3{
    margin: 0 auto;
    text-align: center;
}
h4{
    margin: 0 auto;
    text-align: center;
}

.btn-primary{
    padding:10%;
}
#view_trips_buttons{
    margin: 0 auto;
    text-align: center;
    color:white;
    width: 20%;
    margin: 0 auto;
}

